WebAppXML/src/main/webapp/WEB-INF/banner.wsdl

<wsdl:definitions targetNamespace="http://batook.com/ex2/definitions"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:sch="http://batook.com/ex2/schemas"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://batook.com/ex2/definitions">
   <wsdl:types>
      <xs:schema elementFormDefault="qualified" targetNamespace="http://batook.com/ex2/schemas" xmlns:tns="http://batook.com/ex2/schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
         <xs:element name="getBannerRequest">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="id" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getBannerResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="banner1" type="tns:bannerType"/>
                  <xs:element name="banner2" type="tns:valuelist"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:simpleType name="valuelist">
            <xs:list itemType="xs:string"/>
         </xs:simpleType>
         <xs:complexType name="bannerType">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="1" name="value" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="getBannerRequest">
      <wsdl:part element="sch:getBannerRequest" name="getBannerRequest"/>
   </wsdl:message>
   <wsdl:message name="getBannerResponse">
      <wsdl:part element="sch:getBannerResponse" name="getBannerResponse"/>
   </wsdl:message>
   <wsdl:portType name="BannerPort">
      <wsdl:operation name="getBanner">
         <wsdl:input message="tns:getBannerRequest" name="getBannerRequest"/>
         <wsdl:output message="tns:getBannerResponse" name="getBannerResponse"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="BannerPortSoap11" type="tns:BannerPort">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="getBanner">
         <soap:operation soapAction=""/>
         <wsdl:input name="getBannerRequest">
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="getBannerResponse">
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="BannerPortService">
      <wsdl:port binding="tns:BannerPortSoap11" name="BannerPortSoap11">
         <soap:address location="http://localhost:9999/ws/bannerService"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>