WebAppXML/src/main/resources/banner.wsdl


<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://batook.com/ex2/schemas" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://batook.com/ex2/definitions" targetNamespace="http://batook.com/ex2/definitions">
    <wsdl:types>
        <xs:schema xmlns:tns="http://batook.com/ex2/schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://batook.com/ex2/schemas">

            <xs:element name="bannerRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="bannerResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="banner1" type="tns:bannerType"/>
                        <xs:element name="banner2" type="tns:valuelist"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:simpleType name="valuelist">
                <xs:list itemType="xs:string"/>
            </xs:simpleType>

            <xs:complexType name="bannerType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="1" name="value" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="bannerRequest">
        <wsdl:part element="sch:bannerRequest" name="bannerRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="bannerResponse">
        <wsdl:part element="sch:bannerResponse" name="bannerResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="BannerPort">
        <wsdl:operation name="banner">
            <wsdl:input message="tns:bannerRequest" name="bannerRequest">
            </wsdl:input>
            <wsdl:output message="tns:bannerResponse" name="bannerResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BannerPortSoap11" type="tns:BannerPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="banner">
            <soap:operation soapAction=""/>
            <wsdl:input name="bannerRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="bannerResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BannerPortService">
        <wsdl:port binding="tns:BannerPortSoap11" name="BannerPortSoap11">
            <soap:address location="http://localhost:9999/ws/bannerService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>